<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="S.Gianmaria Fatta" >
    <title>BOOLZAP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js"></script>
    <link rel="stylesheet" href="css/style..css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="js/script.js" ></script>
</head>
<body>
    <div id="root" class="container  ">
        <div class="row g-0 d-flex p-5">
            <div class="col-4">
                <nav>
                    <div class="header template ">
                        <div class="row h-100">
                            <div class="col-3 d-flex justify-content-left align-items-center">
                                <img src="img/avatar_io.jpg" class="img-fluid p-2" alt="">
                                <div class="h5">Jimmy Fatta</div>
                            </div>
                            <div class="col-8 d-flex align-items-center justify-content-end gap-2  fa-xl">
                                <a href=""><i class=" fa-solid fa-message"></i></a>
                                <a href=""><i class=" fa-solid fa-rotate"></i></a>
                                <a href=""><i class=" fa-solid fa-bars"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="allert">
                        <div class="row h-100">
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-bell-slash d-block bell text-white"></i>
                            </div>
                            <div class="col-9 d-flex flex-column justify-content-center">
                                <div>Ricevi Notifiche di messaggi</div>
                                <a href="">Attiva notifiche desktop</a>
                            </div>
                        </div>
                    </div>
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control" v-model=searchTerms placeholder="Cerca o inizia una nuova chat" aria-label="Username" aria-describedby="addon-wrapping">
                      </div>
                    <div class="contact-list overflow-auto" role="button">
                        <div class="row g-0 ">
                            <div @click="setCurrentindex(i)" v-for="(contact,i) in filteredList" class="d-flex contact">
                                <div class="col-2 d-flex align-items-center  justify-content-center">
                                    <img :src="`img/avatar${contact.avatar}.jpg`" class="img-fluid p-2" alt="">
                                </div>
                                <div class="col-8 d-flex align-items-center h5">
                                <span><b>{{contact.name}}</b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-8">
                <div class="header template p-2 ">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-3">
                                    <img :src="`img/avatar${contacts[currentIndex].avatar}.jpg`" class="img-fluid"  alt="">
                                </div>
                                <div class="col-9 ">
                                    <div class="fs-4"><b>{{contacts[currentIndex].name}}</b></div>
                                    <div>ultimo Accesso {{ getCurrentMoment() }}</div>
                                </div>
                            </div>
                        </div>
                        <div  class="col-6 d-flex align-items-center justify-content-end gap-2 fa-xl">
                            <a href="" class><i class=" fa-solid fa-magnifying-glass"></i></i></a>
                            <a href=""><i class=" fa-solid fa-paperclip"></i></a>
                            <a href=""><i class=" fa-solid fa-bars"></i></a>
                            
                        </div>
                    </div>
                </div>
                <main>
                    <div class="chatBox overflow-auto ">
                        <ul class="d-flex flex-column justify-content-end m-4 p-1 align-items-end" v-for="message in contacts[currentIndex].messages">
                            <li :class="`${message.status} rounded-3 shadow `">
                                {{message.text}} <span class="date d-block text-right " >{{message.date}}</span>
                            </li>
                        </ul>
                    </div>
                </main>
                <footer>
                    <div class="row header template g-0 align-items-center justify-content-center">
                    <div class="col-1 justify-content-center d-flex">
                        <i class="fa-regular fa-face-smile fa-xl" role="button"></i>
                    </div>
                    <div class="col-10 w-10">
                        <div class="w-100" > <input class="w-100 rounded-2 border border-light h-100" type="text" v-model.trim="newMessage" @keyup.enter="addNewMessage()" placeholder="Scrivi un messaggio"></div>
                    </div>
                    <div class="col-1 d-flex justify-content-center">
                        <i class="fa-solid fa-microphone fa-xl" role="button"></i>
                    </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    
</body>
</html>